@using MyAspMvc.Controllers
@{
    ViewData["Title"] = "ТТН";
}
<div class="order">
  <a asp-controller="TTN" asp-action="Create" class="btn btn-primary mb-5">Создать ТТН</a>
  <div class="order__list">
    <h2 class="order__title">Список ТТН</h2>
    <table class="order__list-table create-table table">
      <tr>
        <th>Тип ТТН</th>
        <th>Форма ТТН</th>
      </tr>
      <tr>
        <td>Расход</td>
        <td>УТП-21</td>
      </tr>
    </table>
  </div>
</div>