@using MyAspMvc.Controllers
@{
    ViewData["Title"] = "Создать заказ";
}
<div class="order__create">
  <h2 class="order__title">Создать заказ</h2>
  <form class="create-form">
    <div class="row">
      <div class="col">
        <label>Клиент</label>
        <select class="form-control">
          <option>СтройДепо</option>
        </select>
      </div>
      <div class="col">
        <label>ТК</label>
        <select class="form-control">
          <option>СДЭК</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Адрес</label>
        <select class="form-control">
          <option>г. Москва, ул. Авиамоторная</option>
        </select>
      </div>
      <div class="col">
        <label>Номер ТТН</label>
        <select class="form-control">
          <option>931184324</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Стоимость заказа</label>
        <input type="text" class="form-control" placeholder="Стоимость">
      </div>
      <div class="col">
        <label>Номер платежного документа</label>
        <input type="text" class="form-control" placeholder="Номер">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Дата заказа</label>
        <input type="date" class="form-control">
      </div>
      <div class="col">
        <label>Дата отгрузки</label>
        <input type="date" class="form-control">
      </div>
      <div class="col">
        <label>Дата доставки</label>
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <label>Статус</label>
        <select class="form-control">
          <option>В доставке</option>
        </select>
      </div>
      <div class="col">
        <div class="form-check form-check-inline">
          <label>Принято ТК</label>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="form-check form-check-inline">
          <label>Принято клиентом</label>
          <input type="checkbox" class="form-check-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea name="extra" placeholder="Примечание"></textarea>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <label>Наименование товара</label>
        <input type="text" class="form-control">
      </div>
      <div class="col">
        <label>Кол-во</label>
        <input type="number" class="form-control">
      </div>
      <div class="col-12 mt-2">
        <button type="submit" class="btn btn-primary">Добавить ещё товар</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Создать</button>
      </div>
    </div>
  </form>
</div>