@using MyAspMvc.Controllers
@{
    ViewData["Title"] = "Создать товар";
}
<div class="order__create">
  <h2 class="order__title">Создать товар</h2>
  <form class="create-form">
    <div class="row">
      <div class="col">
        <label>Артикул</label>
        <input type="text" class="form-control" placeholder="Артикул">
      </div>
      <div class="col">
        <label>Производитель</label>
        <input type="text" class="form-control" placeholder="Производитель">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Наименование</label>
        <input type="text" class="form-control" placeholder="Наименование">
      </div>
      <div class="col">
        <label>Тип товара</label>
        <input type="text" class="form-control" placeholder="Тип">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Категория</label>
        <input type="text" class="form-control" placeholder="Категория">
      </div>
      <div class="col">
        <label>Производитель</label>
        <input type="text" class="form-control" placeholder="Подкатегория">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Вид упаковки</label>
        <input type="text" class="form-control" placeholder="Вид">
      </div>
      <div class="col">
        <label>Кол-во в упаковке</label>
        <input type="number" class="form-control" placeholder="Кол-во">
      </div>
      <div class="col">
        <label>Кол-во на складе</label>
        <input type="number" class="form-control" placeholder="Кол-во">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Цена за единицу</label>
        <input type="text" class="form-control" placeholder="Цена">
      </div>
      <div class="col">
        <label>Минимальный заказ</label>
        <input type="number" class="form-control" placeholder="Мин">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Вес</label>
        <input type="text" class="form-control" placeholder="Вес">
      </div>
      <div class="col">
        <label>Высота</label>
        <input type="text" class="form-control" placeholder="Высота">
      </div>
      <div class="col">
        <label>Ширина</label>
        <input type="text" class="form-control" placeholder="Ширина">
      </div>
      <div class="col">
        <label>Длина</label>
        <input type="text" class="form-control" placeholder="Длина">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea name="descr" placeholder="Описание"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <label>Уценен</label>
          <input type="checkbox" class="form-check-input">
        </div>
        <div class="col">
          <label>Причина уценки</label>
          <input type="text" class="form-control" placeholder="Причина">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Создать</button>
      </div>
    </div>
  </form>
</div>