@using MyAspMvc.Controllers
@{
    ViewData["Title"] = "Создать утилизацию";
}
<div class="order__create">
    <h2 class="order__title">Создать утилизацию</h2>
    <form class="create-form">
        <div class="row">
            <div class="col">
                <label>Номер ТТН</label>
                <select class="form-control">
                    <option>931184324</option>
                </select>
            </div>
            <div class="col">
                <label>Утилизатор</label>
                <select class="form-control">
                    <option>УтилПро</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Номер акта утилизации</label>
                <input type="number" class="form-control">
            </div>
            <div class="col">
                <label>Дата отгрузки</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <!--TODO: табличная часть -->
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </form>
</div>